<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fightjc.xybot.module.bilibili.dao.BiliBiliDao">

    <select id="getGroupSubscribeDetails" parameterType="Long" resultType="org.fightjc.xybot.module.bilibili.pojo.DynamicBean">
        select
            bili_dynamic.*
        from bili_subscribe
        left join bili_dynamic
        on
            bili_subscribe.Mid = bili_dynamic.Mid
        where
            bili_subscribe.GroupId = #{_parameter} and bili_subscribe.IsActive = 1
    </select>

    <select id="getAllGroupSubscribes" resultType="org.fightjc.xybot.module.bilibili.pojo.SubscribeBean">
        select
            *
        from bili_subscribe
    </select>

    <select id="getGroupSubscribe" resultType="org.fightjc.xybot.module.bilibili.pojo.SubscribeBean">
        select
            *
        from bili_subscribe
        where
            GroupId = #{groupId} and Mid = #{mid}
        order by Mid asc limit 1
    </select>

    <insert id="createGroupSubscribe" parameterType="org.fightjc.xybot.module.bilibili.pojo.SubscribeBean">
        insert into bili_subscribe
            (GroupId, Mid, IsActive)
        values
            (#{groupId}, #{mid}, #{isActive})
    </insert>

    <update id="updateGroupSubscribe" parameterType="org.fightjc.xybot.module.bilibili.pojo.SubscribeBean">
        update bili_subscribe
        set
            IsActive = #{isActive}
        where
            GroupId = #{groupId} and Mid = #{mid}
    </update>

    <insert id="createGroupSubscribeRecord" parameterType="org.fightjc.xybot.module.bilibili.pojo.SubscribeRecordBean">
        insert into bili_subscribeRecord
            (GroupId, Mid, IsActive, ModifiedUserId, ModifiedTime)
        values
            (#{groupId}, #{mid}, #{isActive}, #{modifiedUserId}, #{modifiedTime})
    </insert>

    <select id="getAllDynamics" parameterType="String" resultType="org.fightjc.xybot.module.bilibili.pojo.DynamicBean">
        select
            *
        from bili_dynamic
    </select>

    <select id="getDynamic" parameterType="String" resultType="org.fightjc.xybot.module.bilibili.pojo.DynamicBean">
        select
            *
        from bili_dynamic
        where
            Mid = #{_parameter}
        order by Mid asc limit 1
    </select>

    <insert id="createDynamic" parameterType="org.fightjc.xybot.module.bilibili.pojo.DynamicBean">
        insert into bili_dynamic
            (Mid, Name, Follower, Offset)
        values
            (#{mid}, #{name},  #{follower}, #{offset})
    </insert>

    <update id="updateDynamic" parameterType="org.fightjc.xybot.module.bilibili.pojo.DynamicBean">
        update bili_dynamic
        set
            Follower = #{follower},
            Offset = #{offset}
        where
            Mid = #{mid}
    </update>

</mapper>