<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fightjc.xybot.dao.GenshinDao">

    <select id="getActiveGroupCalendar" parameterType="org.fightjc.xybot.pojo.genshin.GroupCalendarBean">
        select
            *
        from
            genshin_calendar
    </select>

    <select id="getGroupCalendar" resultType="org.fightjc.xybot.pojo.genshin.GroupCalendarBean">
        select
            *
        from
            genshin_calendar
        where
            GroupId = #{groupId}
        order by GroupId asc limit 1
    </select>

    <update id="updateGroupCalendar" parameterType="org.fightjc.xybot.pojo.genshin.GroupCalendarBean">
        update genshin_calendar
        set
            IsActive = #{isActive}
        where
            GroupId = #{groupId}
    </update>

    <insert id="createGroupCalendar" parameterType="org.fightjc.xybot.pojo.genshin.GroupCalendarBean">
        insert into genshin_calendar
            (GroupId, IsActive)
        values
            (#{groupId}, #{isActive})
    </insert>

    <insert id="createGroupCalendarRecord" parameterType="org.fightjc.xybot.pojo.genshin.GroupCalendarRecordBean">
        insert into genshin_calendarRecord
            (GroupId, IsActive, ModifiedUserId, ModifiedTime)
        values
            (#{groupId}, #{isActive}, #{modifiedUserId}, #{modifiedTime})
    </insert>

</mapper>