<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fightjc.xybot.dao.GroupSwitchDao">

    <select id="getAllGroupSwitches" resultType="org.fightjc.xybot.pojo.GroupSwitch">

    </select>

    <update id="updateGroupSwitch" parameterType="org.fightjc.xybot.pojo.GroupSwitch">

    </update>

    <update id="createGroupSwitchRecord" parameterType="org.fightjc.xybot.pojo.GroupSwitchRecord">

    </update>
</mapper>