<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fightjc.xybot.dao.UserRepository">

    <select id="findByUsername" parameterType="String" resultType="org.fightjc.xybot.model.entity.User">
        select *
        from User
        where
            Username = #{_parameter} and IsDelete = 0
    </select>

    <insert id="createUser" parameterType="org.fightjc.xybot.model.entity.User">
        insert into User
            (Username, Password, Name, Email, CreationTime, IsDelete, DeletionTime)
        values
            (#{username}, #{password}, #{name}, #{email}, #{creationTime}, #{isDelete}, #{deletionTime})
    </insert>

    <select id="getRoleByUser" parameterType="String" resultType="org.fightjc.xybot.model.entity.Role">
        select *
        from Role r
        left join UserRole ur
        left join User u
        where
            r.Id = ur.RoleId and u.Id = ur.UserId and u.username = #{_parameter}
    </select>
</mapper>