<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fightjc.xybot.dao.UserRoleRepository">

    <insert id="createUserRole">
        insert into UserRole (UserId, RoleId) values (#{userId}, #{roleId})
    </insert>

    <delete id="deleteUserRole" parameterType="String">
        delete from UserRole where UserId = #{parameter}
    </delete>

</mapper>