<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fightjc.xybot.dao.UserRepository">

    <select id="getUsersCount"
            parameterType="org.fightjc.xybot.model.dto.user.GetAllUserInput"
            resultType="integer">
        select count(*) from User
        <if test="filter != null and filter != ''">
            <where>
                <bind name="username_like" value="'%'+ filter + '%'"/>
                Username like #{username_like}
            </where>
        </if>
    </select>

    <select id="getUsers"
            parameterType="org.fightjc.xybot.model.dto.user.GetAllUserInput"
            resultType="org.fightjc.xybot.model.dto.user.UserDto">
        select
            u.*, r.name as RoleName
        from
            User u
            left join UserRole ur on ur.UserId = u.Id
            left join Role r on r.Id = ur.RoleId
        <if test="filter != null and filter != ''">
            <where>
                <bind name="username_like" value="'%'+ filter + '%'"/>
                u.Username like #{username_like}
            </where>
        </if>
        order by u.Username asc
        limit #{skipCount}, #{maxResultCount}
    </select>

    <select id="findById"
            parameterType="String"
            resultType="org.fightjc.xybot.model.dto.user.UserDto">
        select
            u.*, r.name as RoleName
        from
            User u
            left join UserRole ur on ur.UserId = u.Id
            left join Role r on r.Id = ur.RoleId
        where
            u.Id = #{_parameter}
    </select>

    <select id="findByUsername"
            parameterType="String"
            resultType="org.fightjc.xybot.model.entity.User">
        select * from User where Username = #{_parameter}
    </select>

    <insert id="createUser"
            parameterType="org.fightjc.xybot.model.entity.User">
        insert into User (Id, Username, Password, Name, Email, CreationTime, Active, DeletionTime)
        values (#{id}, #{username}, #{password}, #{name}, #{email}, #{creationTime}, #{active}, #{deletionTime})
    </insert>

    <update id="updateUser"
            parameterType="org.fightjc.xybot.model.entity.User">
        update User
        set
            Name = #{name}, Email = #{email}, Active = #{active}
        where
            Id = #{id}
    </update>

    <delete id="deleteUser"
            parameterType="String">
        delete from User where Id = #{_parameter}
    </delete>

</mapper>